Package: com.michael.generatorautosetter
Version:
Section: Tweaks
Name: Generator Auto Setter
Author: Halo Michael <yc992147156@me.com>
Sponsor: Halo Michael <yc992147156@me.com>
Maintainer: Halo Michael <yc992147156@me.com>
Depends: firmware (>= 12.0), com.michael.libdementia (>= 0.2.7), preferenceloader
Architecture: iphoneos-arm
Description: Auto set your generator when jailbreaking!
Depiction: https://halo-michael.github.io/repo/info/generatorautosetter
