Package: com.michael.generatorautosetter
Version: 0.5.3
Section: Tweaks
Name: Generator Auto Setter
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 12.0), com.michael.libdementia, preferenceloader
Architecture: iphoneos-arm
Description: Auto set your generator when jailbreaking!
Depiction: https://halo-michael.github.io/repo/info/generatorautosetter
